<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu/home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" class="singleMap">
      <ion-icon name="map" slot="end" tappable (click)="alllocationsMap()"></ion-icon>
    </ion-buttons>
    <ion-title>Hunger Busters<br /><small>Near You!</small></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [hidden]="ishidden">
    <ion-card *ngFor="let cat of catdata">
      <div class="card card">
        <h3>{{cat.name}}</h3>

        <div
          *ngIf="cat.location.formattedAddress[1] = 'undefined';else fulladdress"
        >
          <strong>Address: </strong> {{cat.location.formattedAddress[0]}}
        </div>
        <ng-template #fulladdress>
          <strong>Address: </strong> {{cat.location.formattedAddress[0] + ',' +
          cat.location.formattedAddress[1] +
          ','+cat.location.formattedAddress[2]}}
        </ng-template>
        <p>
          <ion-icon name="map" slot="end" tappable (click)="singleMap(cat.location.lat, cat.location.lng, cat.name)"></ion-icon>
          <img src={{cat.categories[0].icon.prefix+32+cat.categories[0].icon.suffix}}>
          <span style="float:right;font-weight: 900;">{{cat.location.distance/1000 | number : '1.2-2'}} Km</span>
        </p>
        <ion-button
          fill="outline"
          color="light"
          class="footbtn"
          (click)="gotodetails(cat.id)"
          ><ion-icon name="eye-outline" slot="start"></ion-icon>View
          More</ion-button
        >
      </div>
    </ion-card>
  </div>
</ion-content>
