

.footbtn {
  width: 100%;
}
ion-button {
  --border-style: none;
  border-top-color: white;
  border-top-style: solid;
  border-top-width: 2px;
  border-bottom-color: white;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

p {
  ion-icon {
    font-size: 25px;
    float: left;
  }
}

.singleMap{
  margin-right: 10px;
}
