@import "../../../theme/variables.scss";
.active-item {
    border-left: 8px solid  #f33829;
}

ion-menu {
    --ion-background-color: rgb(27, 27, 27) !important;
    --ion-text-color: white;
  
    ion-toolbar {
      --background: rgb(27, 27, 27) !important;
    }
  
    ion-list {/* optional, but it needs when you use gradient as a background color.*/
      background: rgb(27, 27, 27);
    }
  }
  .menuicon {
    font-size: 1rem;
    color: white;
    margin-right: 13px;
  }