<ion-split-pane contentId="contentdata">
  <ion-menu contentId="contentdata" (ionClose)="disableSwipe()">
    <ion-header>
      <ion-toolbar>
        <ion-title class="ion-text-center ion-text-uppercase">
          Four Squares
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false" *ngFor="let p of pages">
          <ion-item
            [routerLink]="p.url"
            routerDirection="root"
            [class.active-item]="selectedPath === p.url"
          ><ion-icon class="menuicon" [name]="p.icon" slot="start"></ion-icon>
            {{ p.title }}
          </ion-item>
        </ion-menu-toggle>
        <ion-grid>
          <ion-row>
            <ion-col size="12" style="text-align: center;"
              ><ion-text
                >Version: {{appversion}} <br />
                <a
                  href="https://www.mandhdevelopments.co.za"
                  style="color: white; text-decoration: none;"
                  >M and H Developments</a
                ></ion-text
              ></ion-col
            >
          </ion-row>
        </ion-grid>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="contentdata" main></ion-router-outlet>
</ion-split-pane>
