<ion-content fullscreen>
  <ion-item class="close-fake" lines="none" text-center>
    <ion-button (click)="close()" fill="clear" color="light">
      <ion-icon name="close" slot="start"></ion-icon>
      Back
    </ion-button>

    <ion-button (click)="zoom(true)" fill="clear" color="light">
      <ion-icon name="add" slot="start"></ion-icon>
      In
    </ion-button>
    <ion-button (click)="zoom(false)" fill="clear" color="light">
      <ion-icon name="remove" slot="start"></ion-icon>
      Out
    </ion-button>
  </ion-item>

  <ion-slides [options]="sliderOpts" #slider>
    <ion-slide>
      <ion-card class="myCard">
        <div class="swiper-zoom-container">
          <img src="{{img}}" />
        </div>
        <div class="myOverlay">
          <div class="card-title">
            {{details}}
          </div>
        </div>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
