.close-fake {
  --background: transparent;
  ion-icon {
    font-size: 2rem;
  }
  margin-top: 20px;
}

ion-content {
  --background: rgba(44, 39, 45, 0.84);
}

ion-slides {
  height: 80%;
}

.myCard{
  position:relative;
  margin: 0px;
  border-radius: 0px;
}

.myOverlay{
  width: 100%;
  height: 10%;
  padding-top: 2%;
  text-align: center;
  position: absolute;
  z-index: 99;
  bottom: 0%;
  opacity: 0.9;
  color: white;
  font-weight: bold;
  background-color: #f33829;
}
