<ion-header>
  <ion-toolbar class="menuheadcolor">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Pick A Choice</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="no-padding">
  <div [hidden]="ishidden">
    <div class="homescreen-content" >
      <div><img src='https://quranrecorder.mandhdevelopments.co.za/api/islamicworldimg/food4.png' /></div>
      <hr>
      <div>
        <ion-grid>
          <ion-row>
            <ion-col size="6" class="btmcolumns"><a class="btnback" tappable (click)="eats(false)">Time To Eat</a></ion-col>
            <ion-col size="6" class="btmcolumns"><a class="btnback" tappable (click)="eats(true)">Halaal Eats</a></ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>
</ion-content>

