ion-content {
  --overflow: hidden;
}

ion-card-content {
  padding-top: 7px;
  padding-bottom: 6px;
  font-size: 16px;
}

.homescreen-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.homescreen-content > div {
  flex: 1;
}

img {
  top: 0;
  left: 0;
  width: 100%;
  height: 85%;
}
img {
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 1)),
    to(rgba(0, 0, 0, 0))
  );
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.btmcolumns {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.5rem;
  border-bottom: 3px solid #f33829;
  border-radius: 50%;
}

.btnback, :focus {
  background-color: transparent !important;
  border: none;
  color: #f33829;;
  --background: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  --box-shadow: none !important;
  font-size: 1rem;
  font-weight: bolder;
}
