<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu/categoryitems"></ion-back-button>
    </ion-buttons>
    <ion-title>Venue Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [hidden]="ishidden">
    <div *ngIf="venimages?.length > 0;else noimages">
    <ion-slides [options]="sliderOpts">
      
        <ion-slide *ngFor="let img of venimages; let i = index;">
          <ion-card class="myCard">
            <img
              src="{{img.prefix + '300x300' + img.suffix}}"
              tappable
              (click)="openPreview(img.prefix + '300x300' + img.suffix,  img.user.firstName, img.source.name, img.createdAt)"
              class="new-collection"
            />
            <div class="myOverlay">
              <div class="card-title">
                {{ img.user.firstName }} Via {{ img.source.name }} @
                {{img.createdAt * 1000 | date:'MM-dd-yyyy'}}
              </div>
            </div>
          </ion-card>
        </ion-slide>
      

    </ion-slides></div>

    <ng-template #noimages>
      <ion-card>
        <ion-card-content style="color: white;font-weight: bolder;"> Oops! There Seems to be no images for this venue</ion-card-content>
      </ion-card>
    </ng-template>

    <div class="card card">
      
        <table>
          <tr>
            <td colspan="2">{{vendetails?.name}}</td>
            <td></td>
          </tr>
          <tr>
            <td>Navigate To:</td>
            <td class="td"><ion-icon name="navigate" slot="end" tappable (click)="navigateMaps(vendetails?.location?.lat, vendetails?.location?.lng)"></ion-icon></td>
          </tr>
          <tr>
            <td>Likes:</td>
            <td class="td">{{vendetails?.likes.count}}<ion-icon name="thumbs-up-outline" class="spicons"></ion-icon></td>
          </tr>
          <tr>
            <td>Foot Traffic:</td>
            <td class="td">{{vendetails?.hereNow.count}}<ion-icon class="spicons" name="people-circle-outline"></ion-icon></td>
          </tr>
          <tr>
            <td>Price:</td>
            <td class="td">{{vendetails?.price.currency}} - {{vendetails?.price.message}}</td>
          </tr>
        </table>
      
    </div>
  </div>
</ion-content>
