ion-card {
  ion-card-content {
    padding-top: 3px;
    padding-bottom: 3px;
    color: white;
  }
}

table > tr > td {
  padding: 5px;
  text-align: unset;
}

.myCard {
  position: relative;
  margin: 0px;
  border-radius: 0px;
}

.myOverlay {
  width: 100%;
  height: 15%;
  padding-top: 2%;
  text-align: center;
  position: absolute;
  z-index: 99;
  bottom: 0%;
  opacity: 0.9;
  color: white;
  font-weight: bold;
  background-color: #f33829;
}

ion-slides {
  background-color: #f33829;
}

.spicons {
  font-size: 18px;
  vertical-align: text-bottom;
}

.td {
  float: right;
  ion-icon{
    font-size: 20px;
  }
}
