<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu/categoryitems"></ion-back-button>
    </ion-buttons>
    <ion-title>Map IT!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div #map id="map" style="width:100%;height:100%">
    <div id="child"></div>
  </div>
</ion-content>
