/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-toolbar {
  --background: #f33829 !important;
  color: white;
}
h4 {
  font-weight: 900;
}

.searchbar-input {
  background: #3b3939 !important;
  color: white;
  border-radius: 30px !important;
  height: 40px !important;
  max-width: 400px;
  font-size: 1.25em !important;
  border: 1px solid transparent;
}

.searchbargen {
  --icon-color: white;
  color: white;
  font-size: 12px;
}

.ioniconFav {
  font-size: 20px;
  margin-bottom: -5px;
}

.cardcontentcolor {
  background-color: #f33829;
}

.exitappalert {
  --background: #f33829;
  font-weight: bolder;
}

.toastctrl {
  --background: #f33829;
  font-weight: bolder;
}

.alert-title.sc-ion-alert-md {
  color: white !important;
  font-weight: bold;
}

.alert-message.sc-ion-alert-md {
  color: white !important;
}

.alert-button.sc-ion-alert-md {
  background-color: transparent;
  color: white !important;
  font-weight: bolder;
}

table {
  height: 100%;
  width: 100%;
}

table td {
  text-align: center;
}

.crdbtn {
  color: white;
  font-weight: bolder;
}

.custom-loader-class {
  --spinner-color: white;
  padding: 0px;
}

.loading-wrapper.sc-ion-loading-md {
  /* padding-left: unset; */
  /* padding-right: unset; */
  -webkit-padding-start: 14px !important;
  padding-inline-start: 14px !important;
  -webkit-padding-end: 14px !important;
  padding-inline-end: 14px !important;
  padding-top: 10px !important;
  background-color: #f33829;
  padding-bottom: 10px !important;
  color: white;
  font-weight: bolder;
}

.btngen {
  --background: #f33829;
  color: black;
  font-weight: 900;
}

.btngeninverse{
  --background: black;
  color: #f33829;
  font-weight: 900;
}

.txtgen{
  color: rgb(27, 27, 27);
  font-weight: 900 !important;
  font-size: 0.8rem;
  text-align: center;
}

ion-card{
  --background: #f33829;
}

.card {
  color: white;
  border-radius: 4px;
  background: #f33829;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  padding: 4px 8px 1px 6px;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.card h3 {
  font-weight: 600;
}

.card img {
  position: absolute;
  top: 5px;
  right: 15px;
  max-height: 120px;
}

.card {
  background-image: url(https://ionicframework.com/img/getting-started/theming-card.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 80px;
}

@media (max-width: 990px) {
  .card {
    margin: 10px;
  }
}